parameters:
    level: 5
    paths:
        - src/
        - bin/console
        - bin/b24cli
        - config/
        - tests/Offline/
        - tests/Integration/
        - tests/Support/
    tmpDir: var/cache/phpstan
